!!!
%html
  %head
    %title private.deadblackhearts.com
    %link{:rel => 'stylesheet',:type=>'text/css',:href=>'main.css'}
  %body
    #mediaspace
    %ul
      = render_folder
  = script('jquery.js','swfobject.js','go.js')


