!!!
%html
  %head
    %title private.deadblackhearts.com
  %body
    %h1 
      %table
        %tr
          %td{:width => '50%'}
            = render_folders
          %td
            #mediaspace
    = script('jquery.js','swfobject.js','go.js')
    
    
